
<div class="all-pages-container">
 <div class="skill-wrapper" >
    <% @skills.each do |skill| %>
      <div>
        <h3><%= skill.title %></h3>
        <p><%= skill.procent %></p>
      </div>
    <% end %>
  </div>
</div>
