<div class="all-pages-container" >
  <div class="about-container">
    <div class="about-address" >
      <h2>My address</h2>
      <p>66 Sotheron Road</p> 
      <p>Watford</p>  
      <p>WD17 2QA</p> 
      <p>07444476579</p>  
      <a href="mailto:maryonpawel@gmail.com">maryonpawel@gmail.com</a>
    </div>
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18687.891086699077!2d-0.41428914100575026!3d51.6618222373281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48766ac70e7049b3%3A0x38db72044aa48004!2s66%20Sotheron%20Rd%2C%20Watford%20WD17%202QA!5e0!3m2!1sen!2suk!4v1645029700241!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>
