<h1>Pages#home</h1>
<div class="all-pages-container">
 
  <div >
    <% @portfolios.each do |portfolio| %>
      <div class="portfolio-item-wrapper"><%= link_to portfolio.title, portfolio_path(portfolio) %></div>
    <% end %>
  </div>
</div>
