// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.about-container {
  display: flex;
  justify-content:space-between ;
  
}

.about-address {
  background-color: rgb(230, 230, 230);
  background-size: auto;
  width: 45%;
  text-align: center;
  padding: 12%;
  
}

.btn  {
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(65, 65, 25);
  color: antiquewhite;

}
.home-container {
  background-color: antiquewhite;
  width: 100%;
  padding: 12px;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  h1 {
    margin-bottom: 12px;
  }
}

.homepage-header {
 
}