// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.wrapper{
  width: 80%;
  margin: 16px;
  box-shadow: 10px 5px 5px 5px;
  padding: 16px;
}
.portfolio-item-wrapper {
  width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}