// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.about-container {
  display: flex;
  justify-content:space-between ;
  
}

.about-address {
  background-color: rgb(230, 230, 230);
  background-size: auto;
  width: 45%;
  text-align: center;
  padding: 12%;
  
}